<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8"/>
  <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
  <script
      type="text/javascript"
      src="//cdnjs.cloudflare.com/ajax/libs/jqueryui/1.10.4/jquery-ui.min.js">
  </script>
  <script src="//netdna.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
  <link
      href="//netdna.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css"
      rel="stylesheet"
      id="bootstrap-css"
  />
  <title>Title</title>
  <style>
      @import "/todolist.css";
  </style>
</head>
<body>
<div class="container">
  <div class="row">
    <div class="col-md-6">
      <div class="todolist not-done">
        <h1>TODO LIST</h1>
        <input
            id="content"
            type="text"
            class="form-control add-todo"
            placeholder="할일을 입력하고 엔터를 치세요"
            autofocus
        />
        <hr/>
        <ul
            th:each="todo : ${todoList}"
            id="sortable"
            class="list-unstyled"
        >
          <li th:if="${todo.doneYn.equals('N')}" class="ui-state-default">
            <div class="checkbox">
              <label>
                <input
                    th:onchange="|javascript:setDone(${todo.idx})|"
                    type="checkbox"
                    value=""
                /><span th:text="${todo.content}"></span>
              </label>
            </div>
          </li>
        </ul>
        <div class="todo-footer">
          <strong
          ><span th:text="${todoSize}" class="count-todos"></span
          ></strong>
          항목 남았음
        </div>
      </div>
    </div>
    <div class="col-md-6">
      <div class="todolist">
        <h1>Already DONE</h1>
        <ul
            th:each="todo : ${todoList}"
            id="done-items"
            class="list-unstyled"
        >
          <li th:if="${todo.doneYn.equals('Y')}">
            <div class="checkbox">
              <label>
                <input
                    th:onchange="|javascript:setDone(${todo.idx})|"
                    class="remove-item"
                    type="checkbox"
                    value=""/><span th:text="${todo.content}"></span>
              </label>
              <button
                  th:onclick="|javascript:setDelete(${todo.idx})|"
                  class="remove-item btn btn-default btn-xs pull-right"
              >
                <span class="glyphicon glyphicon-remove"></span>
              </button>
            </div>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
<script th:inline="javascript">
    console.log("스타일 참고", "https://bootsnipp.com/snippets/QbN51");

    const contentEle = document.querySelector("#content");

    contentEle.addEventListener("keyup", (e) => {
        if (e.which === 13) {
            if (contentEle.value !== "") {
                const data = {
                    content: contentEle.value,
                };

                $.ajax({
                    type: "post",
                    url: `/api/todoList`,
                    data: JSON.stringify(data),
                    contentType: "application/json; charset=utf-8",
                    dataType: "text",
                })
                    .done((result) => {
                        // location.href = location.href.slice(location.href.indexOf("/",10),location.href.indexOf("todoList")) +'todoList';
                        location.href = "/todoList";
                    })
                    .fail((error) => {
                        alert(error.message);
                    });
            } else {
              // some validation
            }
        }
    })

    const setDone = (idx) => {
        $.ajax({
            type: "put",
            url: `/api/todoList`,
            data: JSON.stringify({idx}),
            contentType: "application/json; charset=utf-8",
            dataType: "text",
        })
            .done((result) => {
                location.href = "/todoList";
            })
            .fail((error) => {
                alert(error.message);
            });
    };

    const setDelete = (idx) => {
        $.ajax({
            type: "delete",
            url: `/api/todoList`,
            data: JSON.stringify({idx}),
            contentType: "application/json; charset=utf-8",
            dataType: "text",
        })
            .done((result) => {
                location.href = "/todoList";
            })
            .fail((error) => {
                alert(error.message);
            });
    };
</script>
</body>
</html>
